:root {
    --background-color: #f3f3f3;
    --main-color: #00D1C4;
    --main-color-transparent: #00D1C43d;
}

html,
body {
    /* font-family: 'Rubik', sans-serif; */
    /* font-family: 'M PLUS 1p', sans-serif; */
    /* font-family: 'Heebo', sans-serif; */
    font-family: 'Manrope', sans-serif;
    /* direction: rtl; */
    margin: 0;
    background: var(--background-color);
}

nav {
    background: var(--main-color);
    color: var(--background-color);
    padding: 15px 35px;
}

nav .title {
    font-weight: 300;
    font-size: 40px;
    text-shadow: 0 0 4px var(--main-color-transparent);
}

nav div {
    padding: 10px;
}

nav .contact {
    float: right;
    color: white;
    margin-left: -20px;
}

nav .contact svg {
    transform: scale(1.4);
    border-radius: 5px;
    margin: 12px;
    padding: 4px;
    transition: .3s;
}

nav .contact svg:hover {
    color: var(--main-color);
    background: var(--background-color);
    cursor: pointer;
}

p {
    font-size: 18px
}

p .contact svg {
    transform: scale(2);
    border-radius: 5px;
    margin: 30px;
    padding: 4px;
    transition: .3s;
    color: var(--main-color);
}

p .contact svg:hover {
    background: var(--main-color);
    color: var(--background-color);
    cursor: pointer;
}

h1 {
    font-size: 40px;
    font-weight: 300;
    color: var(--main-color);
    text-shadow: 0 0 4px var(--main-color-transparent);
}

.container {
    text-align: center;
}

.gallery,
.social {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 30px;
}

.social {
    grid-template-columns: 1fr;
}

img {
    object-fit: cover;
}

.gallery img {
    height: 40vw;
    width: 40vw;
    transition: .3s;
    border-radius: 3px;
    /* max-width: 600px;
    max-height: 600px; */
}

.gallery img:hover {
    filter: brightness(.6);
    cursor: pointer;
    /* transform: translateY(-5px) */
    /* box-shadow: 0px 0px 0px 4px var(--main-color-transparent) */
}

@media only screen and (min-width: 940px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .gallery img {
        height: 30vw;
        width: 30vw;
    }
}

.social .card {
    background: white;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid var(--main-color-transparent);
    max-width: 80%;
}

.social .card img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.social .card .name {
    font-weight: 500;
    font-size: 22px;
}

section {
    margin-bottom: 80px;
}

footer {
    background: var(--main-color);
    margin-top: 20px;
    padding: 20px;
    color: var(--background-color);
    text-align: center;
}

.fs {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333333cc;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .2s ease;
    opacity: 1;
    transform: scaleX(1)
}

.fs img {
    width: 100%;
    max-width: 1000px;
    z-index: 2;
}

.fs_hide {
    top: 100%;
    opacity: 0;
    transform: scaleX(.1)
}

.fs .x {
    position: fixed;
    top: 50px;
    right: 50px;
    color: white;
    transform: scale(3);
}